.red{
	position: absolute;
	top:14.2857%;
	width: 100%;
	height: 145px ;
	left: 0px;
	background-color: #E8E6E6;
}
.orange{
	position: absolute;
	top:28.5714%;
	width: 100%;
	height: 145px ;
	left: 0px;
	background-color: #D4D0D0;
}
.yellow{
	position: absolute;
	top:42.8571%;
	width: 100%;
	height: 145px ;
	left: 0px;
	background-color: #BFBABA;
}
.green{
	position: absolute;
	top:57.1428%;
	width: 100%;
	height: 145px ;
	left: 0px;
	background-color: #AAA3A3;
}
.blue{
	position: absolute;
	top:71.4285%;
	width: 100%;
	height: 145px ;
	left: 0px;
	background-color:#7F7676;
}
.skyblue{
	position: absolute;
	top:85.7142%;
	width: 100%;
	height: 145px ;
	left: 0px;
	background-color: #686060;
}
.purple{
	position:absolute;
	top:10%;
	right:0px;
	width: 50%;
	height: 90px;
	background-color: black;
}
.pink{
	position:absolute;
	top:24%;
	right:0px;
	width: 50%;
	height: 90px;
	background-color: black;
}
.brown{
	position:absolute;
	top:38%;
	left:50%;
	width: 90px;
	height: 48%;
	background-color: black;
}
.gray{
	position:absolute;
	bottom:10%;
	left:27%;
	width: 20%;
	height: 90px;
	background-color: black;
}
.white{
	position:absolute;
	bottom:24%;
	left:20%;
	width: 10%;
	height: 90px;
	background-color: black;
}
.black{
	position:absolute;
	bottom:38%;
	left:27%;
	width: 20%;
	height: 90px;
	background-color: black;
}
